fastapi[standard]
uvicorn[standard]
passlib
python-jose
gunicorn
sqlalchemy
alembic
celery[redis]
psycopg2-binary
bcrypt
fastapi_mail
boto3
resend
sentry-sdk[fastapi]
psycopg2-binary

PyJWT
python-decouple
firebase-admin
